* text=auto eol=lf

# Unity
*.cs        text diff=csharp
*.shader    text
*.cginc     text
*.hlsl      text
*.uss       text
*.uxml      text
*.asset     text
*.meta      text
*.prefab    text
*.unity     text
*.mat       text
*.anim      text
*.controller text
*.json      text
*.txt       text
*.md        text

# Binarios típicos en Unity
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.psd  binary
*.tga  binary
*.tif  binary
*.fbx  binary
*.obj  binary
*.blend binary
*.wav  binary
*.mp3  binary
*.ogg  binary
*.ttf  binary
*.otf  binary
*.dll  binary